.stores {
  text-align: center;
  padding: 80px 20px;
  background: #fff;
  color: #000;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.buttons img {
  width: 150px;
  transition: .2s;
}

.buttons img:hover {
  transform: scale(1.08);
}
