.hero {
  height: 70vh;
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.storeButton {
  background: white;
  color: black;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  transition: 0.2s;
}

.storeButton:hover {
  transform: scale(1.05);
}
