.navbar {
  width: 100%;
  height: 70px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.left img {
  width: 40px;
}

.links {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.links a {
  color: #ccc;
  text-decoration: none;
  transition: 0.2s;
}

.links a:hover {
  color: #fff;
}

/* MOBILE */
@media (max-width: 768px) {
  .links {
    display: none;
  }
}
