.navbar {
  width: 100%;
  padding: 15px 40px;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoArea {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  gap: 10px;
}

.logo {
  width: 40px;
}

.links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.links a {
  color: #b3b3b3;
  text-decoration: none;
  transition: 0.2s;
}

.links a:hover {
  color: #fff;
}
