.footer {
  background: black;
  color: white;
  text-align: center;
  padding: 40px 0;
  border-top: 1px solid #222;
}

.footer img {
  width: 35px;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}
